h1 {
    color: fuchsia;
    font-size:70px;
    font-family: inherit;
    text-align: center;
}
h2 {
     color:blueviolet;
    font-family: inherit;
    text-align: center;
}
h3 {
    font-family: fantasy;
}
table{
    font-family: serif;
    border-collapse: collapse;
    boder-color:blueviolet;
    border width :auto; 
}
p {
    font-weight: 200;
    text-decoration: line-through;
}
th{
    font-weight: 500;
    background-color:fuchsia;
    color:yellow;
}

        